---
layout: default
title: llll
---

<div id="categ"> 
	<h1>ALL</h1>   
    {% for category in site.categories %}
		<h2>{{ category | first }}</h2>
		<ul class="posts">
  	  		{% for post in category.last %}
     		   <li><span>{{ post.date | date_to_string }}</span> &raquo;&nbsp;<a style="text-decoration:none;" href="{{ post.url }}">{{ post.title }}</a>
     		   </li>
     		{% endfor %}
		</ul>
	{% endfor %} 
</div>


<div style="float:right" id="cate">
 <h4>Category</h4> 
 <ul class="posts">
 	{% for category in site.categories %} 
		<li>&raquo;&nbsp;<a style="text-decoration:none;" href="/category/{{ category | first }}.html">{{ category | first }}({{ category | last | size }})</a> </li> 
	{% endfor %} 
 </ul>
</div>
